@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

:root {
    font-size: 16px;
    --font-family: 'Open Sans', sans-serif;

    --white-color: white;
    --blue-50-color: #EFF6FF;
    --blue-100-color: #DBEAFE;
    --blue-600-color: #2563EB;
    --blue-700-color: #1D4ED8;
    --blue-800-color: #1E40AF;

    --green-500-color: #22C55E;
    --green-600-color: #16A34A;

    --red-600-color: #DC2626;

    --gray-100-color: #F4F4F5;
    --gray-700-color: #3F3F46;
    --gray-900-color: #181818;

    /* Spacing */
    --space-0: 0.25rem;
    --space-1: 0.5rem;
    --space-2: 1rem;
    --space-3: 1.5rem;
    --space-4: 2rem;

    /* Font Size */
    --size-1: 0.5rem;
    --size-2: 1rem;
    --size-3: 1.5rem;
    --size-4: 2rem;
    --size-5: 2.5rem;
    --size-6: 3rem;
    --size-7: 3.5rem;
    --size-8: 4rem;
}

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
    z-index: 0;
} */

.btn {
    display: inline-block;
    padding: var(--space-1) var(--space-2);
    text-decoration: none;
    font-size: var(--size-2);
    transition: all 0.25s ease-out;
    border-radius: 4px;
    border: 0px;
    outline: 0;
    cursor: pointer;
}

/* Solid Button */
.btn.solid.default {
    background-color: var(--blue-600-color);
    color: var(--white-color);
    border: 1px solid var(--blue-600-color);
}

.btn.solid.default:hover {
    background-color: var(--blue-800-color);
}


/* Outline Button */
.btn.outline.default {
    background-color: var(--blue-50-color);
    color: var(--blue-600-color);
    border: 1px solid var(--blue-600-color);
}

.btn.outline.default:hover {
    background-color: var(--blue-100-color);
}

/* Ghost Button */
.btn.ghost.default {
    background-color: transparent;
    color: var(--blue-600-color);
    border: 1px solid transparent;
}

.btn.ghost.default:hover {
    background-color: var(--blue-50-color);
}

/* Link Button */
.btn.link.default {
    background-color: transparent;
    color: var(--blue-600-color);
    border: 1px solid transparent;
}

.btn.link.default:hover {
    text-decoration: underline;
}


.btn.fab.default {
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--size-8);
    height: var(--size-8);
    padding: var(--space-2) var(--space-2);
    background-color: var(--blue-600-color);
    color: var(--white-color);
    border-radius: 100%;
    outline: none;
    border: 1px solid var(--blue-600-color);
    font-size: var(--size-3);
    cursor: pointer;
    transition: all 0.25s ease-out;
}

.btn.fab.default:hover {
    box-shadow: 0px 0px 10px 2px var(--blue-600-color);
}